<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Doyeon Quotes</h1>
  <p>Doyeon is a good friend of mine. He says obvious, funny things a lot.</p>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>